USE [master]
GO
/****** Object:  Database [Regions]    Script Date: 2/25/2026 12:50:12 AM ******/
CREATE DATABASE [Regions]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Regions', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Regions.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Regions_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Regions_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Regions].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Regions]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2/25/2026 12:50:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CountryId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 2/25/2026 12:50:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_City_CountryId]    Script Date: 2/25/2026 12:50:13 AM ******/
CREATE NONCLUSTERED INDEX [IX_City_CountryId] ON [dbo].[City]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_City_Name_CountryId]    Script Date: 2/25/2026 12:50:13 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_City_Name_CountryId] ON [dbo].[City]
(
	[Name] ASC,
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Country]
GO
/****** Object:  StoredProcedure [dbo].[spCity_Delete]    Script Date: 2/25/2026 12:50:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCity_Delete]
(
    @Id UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS (SELECT 1 FROM City WHERE Id = @Id)
        BEGIN
            SELECT 
                0 AS Success,
                N'City not found.' AS Message,
                CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        DELETE FROM City
        WHERE Id = @Id;

        SELECT 
            1 AS Success,
            N'City deleted successfully.' AS Message,
            @Id AS Id;

    END TRY
    BEGIN CATCH

        SELECT 
            0 AS Success,
            ERROR_MESSAGE() AS Message,
            CAST(NULL AS UNIQUEIDENTIFIER) AS Id;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spCity_Insert]    Script Date: 2/25/2026 12:50:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCity_Insert]
(
    @Id UNIQUEIDENTIFIER,
    @Name NVARCHAR(50),
    @CountryId UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @Name = LTRIM(RTRIM(@Name));

        IF (@Name IS NULL OR @Name = '')
        BEGIN
            SELECT 0 AS Success, N'City Name is Required.' AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Country WHERE Id = @CountryId)
        BEGIN 
            SELECT 0 AS Success, N'Invalid Country.' AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM City WHERE CountryId = @CountryId AND Name = @Name)
        BEGIN
            SELECT 0 AS Success, N'City already exists in this country.' AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        INSERT INTO City (Id, Name, CountryId)
        VALUES (@Id, @Name, @CountryId);

        SELECT 1 AS Success, N'City created successfully.' AS Message, @Id AS Id;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spCity_SelectAll]    Script Date: 2/25/2026 12:50:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spCity_SelectAll]
as
begin
	set nocount on;

	select CI.Id, CI.Name, CI.CountryId, CO.Name as CountryName from City CI inner join Country CO on CI.CountryId = CO.Id;

	end
GO
/****** Object:  StoredProcedure [dbo].[spCity_Update]    Script Date: 2/25/2026 12:50:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCity_Update]
(
    @Id UNIQUEIDENTIFIER,
    @Name NVARCHAR(50),
    @CountryId UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @Name = LTRIM(RTRIM(@Name));

        IF (@Name IS NULL OR @Name = '')
        BEGIN
            SELECT 0 AS Success, N'City name is required.' AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM City WHERE Id = @Id)
        BEGIN
            SELECT 0 AS Success, N'City not found.' AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Country WHERE Id = @CountryId)
        BEGIN
            SELECT 0 AS Success, N'Country not found.' AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        UPDATE City
        SET Name = @Name,
            CountryId = @CountryId
        WHERE Id = @Id;

        SELECT 1 AS Success, N'City updated successfully.' AS Message, @Id AS Id;
    END TRY
    BEGIN CATCH
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spCountry_Delete]    Script Date: 2/25/2026 12:50:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCountry_Delete]
(
    @Id UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF NOT EXISTS (SELECT 1 FROM Country WHERE Id = @Id)
        BEGIN
            SELECT 
                0 AS Success,
                N'Country not found.' AS Message,
                CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM City WHERE CountryId = @Id)
        BEGIN
            SELECT 
                0 AS Success,
                N'Cannot delete country because it has cities.' AS Message,
                CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        DELETE FROM Country
        WHERE Id = @Id;

        SELECT 
            1 AS Success,
            N'Country deleted successfully.' AS Message,
            @Id AS Id;

    END TRY
    BEGIN CATCH

        SELECT 
            0 AS Success,
            ERROR_MESSAGE() AS Message,
            CAST(NULL AS UNIQUEIDENTIFIER) AS Id;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spCountry_Insert]    Script Date: 2/25/2026 12:50:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCountry_Insert]
(
    @Id UNIQUEIDENTIFIER,
    @Name NVARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SET @Name = LTRIM(RTRIM(@Name));

        IF (@Name IS NULL OR @Name = '')
        BEGIN
            SELECT 0 AS Success, N'Country name is required.' AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM Country WHERE Name = @Name)
        BEGIN
            SELECT 0 AS Success, N'Country name already exists.' AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        INSERT INTO Country (Id, Name)
        VALUES (@Id, @Name);

        SELECT 1 AS Success, N'Country created successfully.' AS Message, @Id AS Id;

    END TRY
    BEGIN CATCH

        SELECT 0 AS Success, ERROR_MESSAGE() AS Message, CAST(NULL AS UNIQUEIDENTIFIER) AS Id;

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spCountry_SelectAll]    Script Date: 2/25/2026 12:50:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spCountry_SelectAll]
as 
begin 
	set nocount on;

	select Id, Name from Country order by Id
end
GO
/****** Object:  StoredProcedure [dbo].[spCountry_Update]    Script Date: 2/25/2026 12:50:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCountry_Update]
(
    @Id UNIQUEIDENTIFIER,
    @Name NVARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        SET @Name = LTRIM(RTRIM(@Name));

        IF (@Name IS NULL OR @Name = '')
        BEGIN
            SELECT 
                0 AS Success,
                N'Country name is required.' AS Message,
                CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Country WHERE Id = @Id)
        BEGIN
            SELECT 
                0 AS Success,
                N'Country not found.' AS Message,
                CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        IF EXISTS (SELECT 1 FROM Country WHERE Name = @Name AND Id <> @Id)
        BEGIN
            SELECT 
                0 AS Success,
                N'Country name already exists.' AS Message,
                CAST(NULL AS UNIQUEIDENTIFIER) AS Id;
            RETURN;
        END

        UPDATE Country
        SET Name = @Name
        WHERE Id = @Id;

        SELECT 
            1 AS Success,
            N'Country updated successfully.' AS Message,
            @Id AS Id;

    END TRY
    BEGIN CATCH

        SELECT 
            0 AS Success,
            ERROR_MESSAGE() AS Message,
            CAST(NULL AS UNIQUEIDENTIFIER) AS Id;

    END CATCH
END
GO
USE [master]
GO
